@mixin icon-cross($fill: $text-color-primary, $size: $icon-size-md) {
  background-image: escape-svg(
    url('data:image/svg+xml;utf8,<svg width="#{strip-units($size)}" height="#{strip-units($size)}" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.914 12L20.6132 5.30085C20.8628 5.04616 21.0018 4.70326 21 4.34666C20.9982 3.99007 20.8557 3.64859 20.6036 3.39643C20.3514 3.14428 20.0099 3.00182 19.6533 3.00002C19.2967 2.99822 18.9538 3.13722 18.6991 3.38681L12 10.086L5.30085 3.38681C5.04616 3.13722 4.70326 2.99822 4.34666 3.00002C3.99007 3.00182 3.64859 3.14428 3.39643 3.39643C3.14428 3.64859 3.00182 3.99007 3.00002 4.34666C2.99822 4.70326 3.13722 5.04616 3.38681 5.30085L10.086 12L3.38681 18.6991C3.13722 18.9538 2.99822 19.2967 3.00002 19.6533C3.00182 20.0099 3.14428 20.3514 3.39643 20.6036C3.64859 20.8557 3.99007 20.9982 4.34666 21C4.70326 21.0018 5.04616 20.8628 5.30085 20.6132L12 13.914L18.6991 20.6132C18.9538 20.8628 19.2967 21.0018 19.6533 21C20.0099 20.9982 20.3514 20.8557 20.6036 20.6036C20.8557 20.3514 20.9982 20.0099 21 19.6533C21.0018 19.2967 20.8628 18.9538 20.6132 18.6991L13.914 12Z" fill="#{$fill}"/></svg>')
  );
  background-size: 100% 100%;

  display: block;
  width: $size;
  height: $size;
}
