@mixin icon-filled-star() {
  background-image: escape-svg(
    url('data:image/svg+xml;utf8,<svg width="26" height="24" viewBox="0 0 26 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.0489 1.92705C12.3483 1.00574 13.6517 1.00574 13.9511 1.92705L15.9187 7.98278C16.0526 8.3948 16.4365 8.67376 16.8697 8.67376H23.2371C24.2058 8.67376 24.6086 9.91338 23.8249 10.4828L18.6736 14.2254C18.3231 14.4801 18.1764 14.9314 18.3103 15.3435L20.2779 21.3992C20.5773 22.3205 19.5228 23.0866 18.7391 22.5172L13.5878 18.7746C13.2373 18.5199 12.7627 18.5199 12.4122 18.7746L7.2609 22.5172C6.47719 23.0866 5.42271 22.3205 5.72206 21.3992L7.68969 15.3435C7.82356 14.9314 7.6769 14.4801 7.32642 14.2254L2.17511 10.4828C1.39139 9.91338 1.79417 8.67376 2.76289 8.67376H9.13026C9.56349 8.67376 9.94744 8.3948 10.0813 7.98278L12.0489 1.92705Z" fill="white" stroke="white" stroke-width="2"/></svg>')
  );
  background-size: 100% 100%;

  display: block;
  width: 26px;
  height: 24px;
}
