@mixin icon-lookup($fill) {
  background-image: escape-svg(
    url('data:image/svg+xml;utf8,<svg width="23" height="23" viewBox="0 1 23 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.8943 0.300049C5.03478 0.300049 0.284668 4.94525 0.284668 10.6754C0.284668 16.4055 5.03478 21.0507 10.8943 21.0507C13.4004 21.0507 15.7036 20.201 17.519 18.7801L20.9674 22.1437L21.0592 22.2209C21.3794 22.4526 21.8333 22.4263 22.123 22.1422C22.4416 21.8298 22.441 21.3238 22.1215 21.0122L18.7135 17.6882C20.4463 15.8415 21.504 13.3793 21.504 10.6754C21.504 4.94525 16.7539 0.300049 10.8943 0.300049ZM10.8943 1.89808C15.8513 1.89808 19.8698 5.82779 19.8698 10.6753C19.8698 15.5229 15.8513 19.4526 10.8943 19.4526C5.93727 19.4526 1.91881 15.5229 1.91881 10.6753C1.91881 5.82779 5.93727 1.89808 10.8943 1.89808Z" fill="#{$fill}"/></svg>')
  );
  background-size: 100% 100%;

  display: block;
  width: 23px;
  height: 25px;
}
