@mixin icon-minus() {
  background-image: escape-svg(
    url('data:image/svg+xml;utf8,<svg width="16" height="3" viewBox="0 0 16 3" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.0843649 1.48535C0.0843649 0.706198 0.716082 0.0744816 1.49523 0.0744816L6.57441 0.0744811L9.39615 0.0744818L14.0891 0.089131C14.8683 0.089131 15.5 0.720848 15.5 1.5C15.5 2.27915 14.8683 2.91087 14.0891 2.91087L9.39601 2.89608L8 2.89622C7.22085 2.89622 6.57427 2.89608 6.57427 2.89608L1.49509 2.89608C0.715939 2.89608 0.0843649 2.2645 0.0843649 1.48535Z" fill="white"/></svg>')
  );
  background-size: 100% 100%;

  display: block;
  width: 16px;
  height: 3px;
}
