@mixin icon-plus() {
  background-image: escape-svg(
    url('data:image/svg+xml;utf8,<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.0843649 8.48535C0.0843649 7.7062 0.716082 7.07448 1.49523 7.07448L6.57441 7.07448L6.57441 1.99531C6.57441 1.21615 7.20613 0.584436 7.98528 0.584436C8.76443 0.584436 9.39615 1.21615 9.39615 1.99531L9.39615 7.07448L14.4753 7.07448C15.2545 7.07448 15.8862 7.7062 15.8862 8.48535C15.8862 9.2645 15.2545 9.89622 14.4753 9.89622L9.39601 9.89608L9.39601 14.9753C9.39601 15.7544 8.76429 16.3861 7.98514 16.3861C7.20599 16.3861 6.57427 15.7544 6.57427 14.9753L6.57427 9.89608L1.49509 9.89608C0.715939 9.89608 0.0843649 9.2645 0.0843649 8.48535Z" fill="white" /></svg>')
  );
  background-size: 100% 100%;

  display: block;
  width: 16px;
  height: 17px;
}
