@mixin icon-radiobutton-checked($fill: $text-color-primary) {
  background-image: escape-svg(
    url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="12" cy="12" r="11" stroke="#{$fill}" stroke-width="2"/><circle cx="12" cy="12" r="8" fill="#{$fill}"/></svg>')
  );
  background-size: 100% 100%;

  display: block;
  width: 24px;
  height: 24px;
}

@mixin icon-radiobutton-unchecked($fill: $text-color-primary) {
  background-image: escape-svg(
    url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="12" cy="12" r="11" stroke="#{$fill}" stroke-width="2"/></svg>')
  );
  background-size: 100% 100%;

  display: block;
  width: 24px;
  height: 24px;
}
